<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hncboy.chatgpt.base.mapper.CurrentKeyMapper">

    <resultMap id="BaseResultMap" type="com.hncboy.chatgpt.base.domain.entity.CurrentKeyDO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="currentKey" column="current_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,current_key
    </sql>
</mapper>
