<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hncboy.chatgpt.base.mapper.FrontUserApiKeyRelMapper">

    <resultMap id="BaseResultMap" type="com.hncboy.chatgpt.base.domain.entity.FrontUserApiKeyRelDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="apiKey" column="api_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,api_key
    </sql>
</mapper>
